*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

.outer {
    height: 70vh;
    width: 60vw;
    border: 3px solid red;
    margin: 30px auto;
}

.inner {
    height: 75%;
    width: 70%;
    border: 2px solid blue;
    margin: 40px auto;
}

.absolute {
    width: 140px;
    height: 140px;
    background-color: green;
    position: absolute;
    top: 10px;
    left: 20px;
}