*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,p, h4{
    margin: 15px;
}

.text-decoration-underline {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: double;
}
 .text-decoration-overline {
    text-decoration: overline;
}
.text-decoration-line-through {
    text-decoration: line-through;
}
.text-transform-capitalize {
    text-transform: capitalize;
}
.text-transform-lowercase {
    text-transform: lowercase;
}
.text-transform-uppercase {
    text-transform: uppercase;
}
.text-indent {
    text-indent: 50px;
}
.line-height {
    line-height: 2;
}
.letter-spacing {
    letter-spacing: 5px;
}
.word-spacing {
    word-spacing: 10px;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.text-align-justify {
    text-align: justify;
}

article > p:first-child {
    font-weight: bold;
}
article > p:nth-child(2) {
    color: blue;
}
article > p:nth-child(3) {
    font-family: monospace;
}
article > p:nth-child(4) {
    font-size: 30px;
}
article > p:nth-child(5) {
    font-style: italic;
}